@tailwind base;
@tailwind components;
@tailwind utilities;

body {
	height: 100dvh;
	background-color: #111011;
	color: #ffffff;

	/* background-color: #4158d0;
	background-image: linear-gradient(43deg, #4158d0 0%, #c850c0 46%, #ffcc70 100%); */
}

img {
	width: 100%;
	max-width: 100%;
}

textarea {
	field-sizing: content;
}

.tag-input {
	width: 22ch;
}

.tag-input:invalid {
	border: 1px solid red;
}

.drag-and-drop {
	position: relative;

	border: 1px solid rgb(255, 255, 255, 0.5);
	border-radius: 1rem;

	outline: 3px dashed rgb(255, 255, 255);
	outline-offset: -14px;

	transition: outline 0.3s ease;

	&:hover {
		cursor: crosshair;
		outline: 3px dashed #a855f7;
	}
}
/* 
.drag-and-drop::after {
	content: "DRAG HERE";
	font-size: clamp(1rem, 3vw, 3rem);
	font-family: Arial, sans-serif;
	white-space: nowrap;

	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}  */

.drag-and-drop-text {
	content: "DRAG HERE";
	font-size: clamp(1rem, 3vw, 3rem);
	font-family: Arial, sans-serif;
	white-space: nowrap;

	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

:root {
	--toastify-color-progress-success: #d8b4fe;
	--toastify-color-progress-error: #d8b4fe;
}
