---
import type { GetStaticPaths } from "astro"
export const getStaticPaths = (() => {
  return [
    { params: { id: "1" } },
    { params: { id: "2" } },
    { params: { id: "3" } },
    { params: { id: "4" } },
    { params: { id: "5" } },
    { params: { id: "6" } },
    { params: { id: "7" } },
    { params: { id: "8" } },
    { params: { id: "9" } },
    { params: { id: "10" } },
  ]
}) satisfies GetStaticPaths

const { id } = Astro.params
---

<div>
  <h1>Showing GIF {id}</h1>
  <!-- <img alt="gif" src={`https://media.giphy.com/media/${id}/giphy.gif`} /> -->
  {id}
</div>
