---
import { Form } from "../components/Form"
import { InfiniteGrid } from "../components/InfiniteGrid"
import Layout from "../layouts/Layout.astro"
---

<Layout title="Welcome to Astro.">
  <main class="flex flex-col items-center justify-center" id="index">
    <h2 class="py-4 text-center text-6xl">GIFFY APP</h2>
    <!-- Para que el componente de react sea dinamico, agregamos la directiva client:only -->

    <Form client:only="react" />

    <InfiniteGrid client:only="react" />
  </main>
</Layout>

<script>
  document.addEventListener("astro:page-load", () => {
    if (window.location.pathname !== "/") return

    const position = sessionStorage.getItem("position")

    if (!position) return

    console.log({ "astro:page-load": window.scrollY })

    setTimeout(() => {
      window.scrollTo(0, JSON.parse(position))
    }, 100)
  })

  document.addEventListener("astro:before-swap", () => {
    const index = document.getElementById("index")

    if (!index) return

    const position = JSON.stringify(window.scrollY)

    console.log({ "astro:before-swap": window.scrollY })

    sessionStorage.setItem("position", position)
  })
</script>
