---
import { Showcase } from "../components/Showcase"
import Layout from "../layouts/Layout.astro"
---

<Layout title="Welcome to Astro.">
  <main>
    <h2 class="py-4 text-center text-6xl">GIFFY APP</h2>
    <!-- Para que el componente de react sea dinamico, agregamos la directiva client:visible -->

    <Showcase client:only />
  </main>
</Layout>

<style></style>
