---
import { ViewTransitions } from "astro:transitions"

interface Props {
  title: string
}

const { title } = Astro.props
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta content="Astro description" name="description" />
    <meta content="width=device-width" name="viewport" />
    <link href="/favicon.svg" rel="icon" type="image/svg+xml" />
    <meta content={Astro.generator} name="generator" />
    <title>{title}</title>
    <ViewTransitions fallback="swap" />
  </head>
  <body>
    <div>
      <slot />
    </div>
    <style is:global>
      html {
        color-scheme: dark;
      }

      img {
        width: 100%;
      }

      div {
        width: 1400px;
        margin-inline: auto;
      }
    </style>

    <!-- <script is:inline>
      document.addEventListener("astro:page-load", () => {
        if (window.location.pathname !== "/") return

        const position = JSON.parse(sessionStorage.getItem("position"))

        console.log({ "astro:page-load": position })

        if (!position) {
          sessionStorage.setItem("position", JSON.stringify(window.scrollY))
          return
        }

        window.scrollTo(0, position)
      })

      document.addEventListener("astro:before-swap", () => {
        if (window.location.pathname !== "/") return

        const position = JSON.stringify(window.scrollY)

        console.log({ "astro:before-swap": window.scrollY })

        sessionStorage.setItem("position", position)
      })
    </script> -->
  </body>
</html>
